<div class="container">
    <h1 class="mb-4 display-2">Home Page</h1>
    <div class="links">
        <a href="/users/login" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2">Log in</a>
        <a href="/users/register" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2">Register</a>
    </div>
</div>

<style>
    body, html {
        height:100vh;
        width:100%;
    }
    .container {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

</style>